<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/approach">Approach</a></li>
    <li><a href="/examples">Examples</a></li>
    <li><a href="/challenges">Challenges</a></li>
    <!-- <li><a href="/contact">Contact</a></li> -->
  </ul>
</nav>
