<div class="wrapper">
  <nav class="top">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/method">Method</a></li>
      <li><a href="/examples">Examples</a></li>
      <li><a href="/challenges">Challenges</a></li>
    </ul>
  </nav>
</div>
