<% include ./partials/header %>

<main id="approach">
  <section>
    <h2>White-tailed Eagle</h2>
    <article class="wrapper">
      <div class="photo">
        <img src="https://live.staticflickr.com/8507/8374802487_3d1b775a34_b.jpg" alt="dunkkkk">
      </div>
      <div class="text">
        <p>The white-tailed eagle (Haliaeetus albicilla) is a very large eagle widely distributed across Eurasia. As are all eagles, it is a member of the family Accipitridae (or accipitrids) which includes other diurnal raptors such as hawks, kites, and harriers. One of up to eleven members in the genus Haliaeetus, which are commonly called sea eagles, it is not infrequently also referred to as the white-tailed sea-eagle.[2] It is also sometimes known as the ern or erne (depending on spelling by sources),[3] gray sea eagle[4] and Eurasian sea eagle[5]
        </p>
      </div>
    </article><!--end-of-wrapper-->
  </section>
  <section>
  <h2>The ex-situ method</h2>
  <article class="wrapper">
    <div class="text">
      <p>The white-tailed eagle (Haliaeetus albicilla) is a very large eagle widely distributed across Eurasia. As are all eagles, it is a member of the family Accipitridae (or accipitrids) which includes other diurnal raptors such as hawks, kites, and harriers. One of up to eleven members in the genus Haliaeetus, which are commonly called sea eagles, it is not infrequently also referred to as the white-tailed sea-eagle.[2] It is also sometimes known as the ern or erne (depending on spelling by sources),[3] gray sea eagle[4] and Eurasian sea eagle[5]
      </p>
    </div>
    <div class="text">
      <p>
        While found across a very wide range, today breeding as far west as Greenland and Iceland across to as far east in Hokkaido, Japan, they are often scarce and very spottily distributed as a nesting species, mainly due to human activities. These have included habitat alterations and destruction of wetlands, about a hundred years of systematic persecution by humans (from the early 1800s to around World War II) followed by inadvertent poisonings and epidemics of nesting failures due to various manmade chemical pesticides and organic compounds, which have threatened eagles since roughly the 1950s and continue to be a potential concern.
      </p>
    </div>
  </article><!--end-of-wrapper-->
  <article class="wrapper">
    <div class="text">
      <p>
        Due to this, the white-tailed eagle was considered endangered or extinct in several countries.[3][6][7][8] However, some populations have recovered well due to some governmental protections and dedicated conservationists and naturalists protecting habitats and nesting sites and partially regulating poaching and pesticide usage, as well as careful reintroductions into parts of their former range.[9][10][11]
      </p>
    </div>
    <div class="photo">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Adult_white-tailed_eagle_%28Haliaeetus_albicilla%29_of_central_Poland_in_flight_%281%29.jpg/1200px-Adult_white-tailed_eagle_%28Haliaeetus_albicilla%29_of_central_Poland_in_flight_%281%29.jpg" alt="get dunked on">
    </div>
  </article><!--end-of-wrapper-->
  </section>
  <section>
  <h2>I hope you're happy</h2>
  <article class="wrapper">
    <div class="text">
      <p>White-tailed eagles usually live most of the year near large bodies of open water, including both coastal saltwater areas and inland freshwater, and require an abundant food supply and old-growth trees or ample sea cliffs for nesting.[3][9] They are considered a close cousin of the bald eagle (Haliaeetus leucocephalus), which occupies a similar niche in North America.[12]
      </p>
    </div>
  </article><!--end-of-wrapper-->
  </section>
</main>

<% include ./partials/footer %>
