<% include ./partials/header %>

<main id="approach">
  <section>
    <h2>heading 2</h2>
    <article class="wrapper">
      <div class="photo">
        <img src="/images/buttons/condor.jpg" alt="photo">
      </div>
      <div class="text">
        <p>
          Paragraph
        </p>
      </div>
    </article><!--end-of-wrapper-->
  </section>
  <section>
  <h2>heading 2</h2>
  <article class="wrapper">
    <div class="graph">
      <img src="/images/graphs/birds.png" alt="graph">
    </div>
    <div class="graph">
      <img src="/images/graphs/birds.png" alt="graph">
    </div>
  </article><!--end-of-wrapper-->
  <article class="wrapper">
    <div class="graph">
      <img src="/images/graphs/birds.png" alt="graph">
    </div>
    <div class="text">
      <p>Paragraph</p>
    </div>
  </article><!--end-of-wrapper-->
</main>

<% include ./partials/footer %>
