<% include ./partials/header %>

<main id="challenges">

  <section>
    <article class="wrapper">
      <div class="full">
        <p>
          Despite ex-situ conservation method has ability of saving species that would not be saved otherwise, it comes with many challenges which need to be overcame in order to succeed.
        </p>
      </div>
    </article>
  </section>

  <section>
    <h2>Founding Captive Population</h2>
    <article class="wrapper">
      <div class="text">
        <p>
          A discussion arises considering cost benefit ratio of taking animals from wild population into breeding programs. Breeding and reintroduction program of Key largo woodrat shows that ex-situ approach can make more harm than good. Only fraction of mating lead to conception, and only around half of all the females ended up having offspring at all. Commonly for other species as well the number of individuals taken from the wild is greater than individuals which contribute to breeding captive  population. Not all the individuals will breed and some of them might be closely related with each other making it impossible for breeding. Some might be even lost in the process of capturing.
        </p>
      </div>
      <div class="text">
        <p>
          Another common problem is that this species of rodent encountered upon reintroduction into the wild, was lack of necessary behavior which resulted in high mortality rate from predation. Since most of individuals were lost soon after release, they did not have a chance to mate and produce viable offspring. In the state at which this breeding program was examined, it’s clear that, it did not contribute to conservation of this species.
        </p>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Supplying breeding facility with animals from the wild, meant that individuals were removed from population and could not mate and produce offspring. In this example, ex-situ conservation did not help species at all, and potentially harmed their population. Taking individuals, from the wild to support breeding programs should always be well thought out, before decided. Especially if taxa of targeted species have history of difficulties with breeding in captivity, or generally with reintroduction. In certain cases, this trade-off of taking individuals into breeding facilities might be beneficial for the population in the long run.
        </p>
      </div>
      <div class="text">
        <p>
          For purpose of conservation of endangered populations of Greater sage-grouse in Canada, fertile eggs were taken away from nest of wild individuals for support of captive breeding program. According to the observations collecting the eggs didn’t harm population, at least at noticeable level. Reintroduction had high positive impact on the population as in the wild chicks of this species have high mortality rate, and birds hatched in captivity were released already as juveniles. This strategy can preserve Canadian Greater sage-grouse, until in-situ measures of conservation will be carried out and the wild population will reach stability.
        </p>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Sonoran pronghorn is one more example where captive breeding and reintroduction of individuals, greatly supported wild population, and improved overall species viability to survive. In some cases, founders for breeding population might be obtained without harm to the wild population. The individuals can be orphans with no chance of surviving anyway. They can also be injured animals with small chance of surviving or contributing to genetic pool of wild population anyway.
        </p>
      </div>
      <div class="text">
        <p>
          Eggs can be obtained from species of birds like Condors, which when their egg is gone will lie a new one. Those actions greatly differ from taking adult animals. If individual which is viable for reproduction is taken away from natural habitat, it can be considered as a dead from point of view of the population. If individuals which would otherwise have no chance of reaching reproductive age are taken away there is basically no harm done to the population, and saved individual can contribute to breeding population and contribute to the total gene pool.
        </p>
      </div>
    </article>
  </section>

  <section>
    <h2>Breeding</h2>
    <article class="wrapper">
      <div class="text">
        <p>
          Many problems arrive during breeding in captivity. Often number of individuals brought into breeding program is limited. This leads to problem of small genetic variations, which further can lead to inbreeding. This can result in disease or weakness of the offspring.
        </p>
        <p>
          It is optimal to have bigger captive population, thus genetic pool will be larger, and genetic variety can be preserved longer. But unfortunately, the size of the population can be limited by factors such as how many individuals can be obtained, the funds for the project, size of breeding center and number of available husbandry workers
        </p>
      </div>
      <div class="text">
        <p>
          To avoid further inbreeding in captivity individuals are often selected and forcefully paired in order to have enough genetic variety to produce healthy and viable offspring. Another technique for selective breeding is artificial insemination. Unfortunately, those techniques are not always applicable and are highly ineffective or even impossible in case of some species.
        </p>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Cases with high success rate, are often attributed to already possessed experience with breeding of similar species. For example, when breeding program for California condor was initiated it met only minor difficulties, because other species of condor was previously bred before. Different species have different challenges when it comes to breeding and reintroduction.
        </p>
      </div>
      <div class="text">
        <p>
          Having experience with similar species provide very useful preparation and is helpful in avoiding trial and error period before establishing successful technique. Sometimes low success of mating in captivity comes from improper preparation of facility and incorrect husbandry methods, which can be attributed to lack of knowledge about species and its needs in the captivity.
        </p>
      </div>
    </article>
  </section>

  <section>
    <h2>Disease</h2>
    <article class="wrapper">
      <div class="text">
        <p>
          There is bigger potential of disease happening in breeding facilities, as often exotic pathogens and parasite for which animals didn’t have chance to develop resistance occur. This is different from animals getting sick in their natural environment. Because most of times their species in the area was encountering local pathogens and parasites and had chance to adapt and build up resistance to them. Some are long term and cannot be detected risking for outbreak in the wild after reintroduction.
        </p>
      </div>
      <div class="text">
        <p>
          This for example happened with captively bred and reintroduced Desert tortoises, which are believed to bring upper respiratory tract disease into the wild population of this species. Most breeding facilities are not taking those precautions, most of them keep many species together, and often allow visitors. And only do quarantine of 30-60 days of new coming individual animals. This measure is insufficient as many diseases are slow-acting, and symptoms are noticeable after longer period. This can lead to outbreak in breeding center and losing whole captive population.
        </p>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Best solution for avoiding disease outbreak is to keep single species breeding center, isolated from other animals and closed for human visitors. With animals taken either straight from the wild or at least having clear history of being disease free for long time. Additionally, especially with critically endangered species, for that reason, they should be kept and bred in at least two geographically distant location to avoid disease wiping all individuals of captive population.
        </p>
      </div>
      <div class="text">
        <p>
          It is also optimal as random event such as fire would otherwise have potential of wiping whole population. This solution is not optimal because it results in having less genetic variety per each breeding center. The solution for this might be relocating individuals of targeted species between breeding center.
        </p>
      </div>
    </article>
  </section>

  <section>
    <h2>Behavior Loss</h2>
    <article class="wrapper">
      <div class="text">
        <p>
          Another problem comes from growing of generation in artificial environment. For newborn offspring their enclosure is their habitat. Living in such artificial habitats results in domestication of the species. Animals lose their natural behavior and replace it with new one, more adequate for living in captivity, those changes are more significant with each generation born in captivity. In certain cases, even first generation born captivity has huge problem with adapting to natural environment. For example, species which during their juvenility learn migratory route. Bred animals might have significant troubles with migration or stop to migrate completely, unless they can connect to wild population.
        </p>
      </div>
      <div class="text">
        <p>
          Another important behavior which reintroduced animals tend to have trouble with are fear and avoidance of people, finding food, identifying and escaping from predators. Behaviors necessary for survival vary from species to species, and so the weight of this problem.
        </p>
        <p>
          It might be more reasonable to start with smaller captive population, which indeed will result in limited genetic pool, but will minimalize possible harm of wild population. It can also act as a learning period and preparation for establishing bigger population in future.
        </p>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Certain examples prove that results of even long-term domestication can be reversed and, reintroduced animals can establish wild populations. In many places domestic cat, has returned to the wild, relatively quickly losing behavioral features of domesticated animal. Another example of species establishing successful wild population are chickens released on the predator free islands.
        </p>
      </div>
      <div class="text">
        <p>
          This means that it never really re-learned forgotten behavior after countless generation of living with human. For those reasons, breeding should be done for as few generations as possible before reintroducing into the wild in order to avoid loss of natural behaviors. We also must remember that captive breeding will always result in some changes in behaviors and those changes are multiplying together with the time and generations.
        </p>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Another solution to keep some of the important behaviors is enrichment of captive environment. Enrichment techniques such as feeding animals in the similar way to how they forage in nature (i.e. hiding food within their enclosure, serving whole fruits instead of chopped etc.) has proven to have success in restoring natural behaviors at least at some degree. Enrichment of captive environment can also benefit captive population in other way.
        </p>
      </div>
      <div class="text">
        <p>
          It can reduce level of stress of animals, by providing physical and psychological stimulation, which has potential of increase of reproductivity rate, thus helping captive population to grow faster. Controversial way of enrichment includes presenting models of natural predators to captive born individuals at certain age. Though this method received criticism for risking unnecessary stress to the animals, it is proven to bring positive results in predator avoidance of reintroduced individuals.
        </p>
      </div>
    </article>
  </section>

  <section>
    <h2>Reintroduction</h2>
    <article class="wrapper">
      <div class="text">
        <p>
          There is a lot of reasons responsible for lack of success with reintroduction, and they vary from case to case. But it was observed that most difficulties had animals which in the wild rely on behavior possessed from wild relatives and other individuals during learning period. Most common behavioral deficiencies of bred animals are related to sourcing the food, avoiding predators and inability for certain social interactions with other individuals.
        </p>
      </div>
      <div class="text">
        <p>
          This problem can sometimes be overcome if reintroduced individuals can be connected to the wild population and learn the behaviors from wild individuals.
        </p>
        <p>
          Data suggest that biggest success of reestablishing wild population shows animals which lack of fostering parental care (i.e. Reptiles, amphibians). The reason for that is, species like that do not need to learn the behavior from their parents and rely mostly on instinct in order to survive.
        </p>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Other groups of animals which shows high rate of success of reestablishing into the wild are, large species, which were not threaten by predators in the area (i.e. Arabian oryx). In many cases, for animals from lower level of the food chain, presence of the predators in the area of reintroduction is limiting factor for establishing wild population.
        </p>
      </div>
      <div class="text">
        <p>
          This suggests that species which mostly rely on instinct or lack predators (including being on the top of the food chain), are more likely to successfully establish population in the wild, as opposed to animals which highly depend on learning behaviors.
        </p>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Additionally, if species dependent on learning the behaviors is to be taken into captivity in order to carry out their breeding, not all individuals should be taken. This leaves the chance for reintroduced individuals to have contact with wild ones and relearning behaviors. Generally, it is best when breeding programs initiate reintroduction phase early on, to increase chance of success.
        </p>
      </div>
      <div class="text">
        <p>
          Reintroduction is usually considered to be successful if 500 or more individuals can survive in the wild without support of human or PVA method (population viability analysis) predicts that population is stable. PVA (population viability analysis) is statistical tool assess condition of chance of survival of population. It is used to determine MVP (minimum viable population size) which is minimum number of individuals in population for its to survive for at least one 1000 years with 99% certainty.
        </p>
      </div>
    </article>
  </section>

</main>

<% include ./partials/footer %>
