<% include ./partials/header %>

<main id="examples">

  <section class="tri">
    <div class="wrapper">
      <nav class="tri">
        <button class="show">Giant Panda</button>
        <button>European Bison</button>
        <button>California Condor</button>
      </nav>
    </div>
  </section>

  <div class="ex show">
    <section class="expanda">
      <h2>Giant Panda</h2>
      <article class="wrapper">
        <div class="text">
          <p>
            Giant panda became icon species for ex-situ conservation, and for nature conservation efforts in general. Natural habitat of the wild individuals lies in central China in Sichuan province. The biggest threats to Giant panda are habitat loss and fragmentation. Since long time great effort was dedicated to saving this species. Part of the conservation effort was establishing many of the captive breeding centers. But facing of the mentioned challenges, the program was complete failure for a long time.
          </p>
          <p>
            The main challenges include difficulty of mating, resulting in low pregnancy rate; high mortality of offspring; natural behaviors loss, and familiarizing with the human.
          </p>
        </div>
        <div class="text">
          <p>
            After extensive research all the problems were solved. For example, artificial insemination was performed successfully.
          </p>
          <p>
            Copulation and birthrate can be also greatly improved if pandas can freely choose mating partner. It was discovered that high mortality rate of young is attributed to constipation, and solution to this problem was performing massage to help with the bowel movement. Giant pandas often give birth to twins, and in nature panda mother only focus on the stronger twin resulting in the death of another one. This was solved by swapping the twins and letting mother care for only one offspring at the time, while the other one was under the care of husbandry workers.
          </p>
        </div>
      </article><!--end-of-wrapper-->
      <article class="wrapper">
        <div class="photo">
          <figure>
            <img src="images/baby_panda_incubator.jpg" alt="Panda cub in incubator">
            <figcaption>Panda cub in incubator</figcaption>
            <figcaption>(Wikimedia Commons)</figcaption>
          </figure>
        </div>
      </article><!--end-of-wrapper-->
    </section>
    <section class="expanda">
      <article class="wrapper mid">
        <div class="text">
          <p>
            Solution for the behavior loss is complex animal training and enrichment before the release to the wild. During the training juvenile pandas learn to recognize other individuals and predators. To avoid familiarizing with human and associating them for example with food, people working with panda dress in costumes imitating them and spray it with pandas’ urine and facies to mask human scent.
          </p>
          <p>
            After years of trials and errors, first captive breed Giant pandas were successfully reintroduced into their natural habitat, and despite small initial input to the wild population, success of those effort suggest further and continuous improvement of viability of this species. Thanks to joined efforts of habitat conservation and breeding and reintroduction program, Giant panda was reclassified from endangered into vulnerable in 2016, and according to IUCN its population is increasing.
          </p>
          <p>
            Learn more about breeding and reintroduction of Giant panda <a target="_blank" href="https://www.pandasinternational.org/program-areas-2/captive-breeding-program/">here</a>
          </p>
        </div>
        <div class="photo">
          <figure>
            <img src="images/panda_chilling.jpg" alt="Environment enrichment for a captive panda">
            <figcaption>Environment enrichment for a captive panda</figcaption>
            <figcaption>(Wikimedia Commons)</figcaption>
          </figure>
        </div>
      </article><!--end-of-wrapper-->
      <article class="wrapper">
      </article><!--end-of-wrapper-->
    </section>
  </div><!--end-of-ex-->

  <div class="ex">
    <section class="exbison">
      <h2>European Bison</h2>
      <article class="wrapper">
        <div class="text">
          <p>
            This example of ex-situ conservation proves that even saving of species extinct in the wild is possible. And even with only few founding individuals, successful breeding and restitution can take place. European bison is the largest land animal of Europe.
          </p>
          <p>
            Ex-situ conservation efforts of this animal are proof that even if species is completely extinct from the wild, it is possible to save it and successfully return into the wild.  Most of the population of wild European bison currently is present in Białowieża Forest in central Europe.
          </p>
        </div>
        <div class="text">
          <p>
            This animal was completely extinct in the wild in 1919, for reasons like extensive hunting, war and other political issues and loss of. Even though only 5 - 7 individuals were founders for whole existing population, breeding with goal of reintroduction was imitated and after ten years first individuals returned into the wild. Today population of European bison is growing, and its status is Vulnerable according to IUCN. Though ex-situ conservation effort was a great success, and let this animal return from extinction, the wild population is not self-sustaining and need constant support of human.
          </p>
        </div>
      </article>
      <article class="wrapper">
        <div class="full">
          <figure>
            <img src="images/forest_bialowieska.jpg" alt="Deciduous forest - natural habitat of European bison">
            <figcaption>Deciduous forest - natural habitat of European bison</figcaption>
            <figcaption>(Wikimedia Commons)</figcaption>
          </figure>
        </div>
      </article>
    </section>
    <section class="exbison">
      <article class="wrapper">
        <div class="text">
          <p>
            Separate population in the wild is considered to be stable if it reaches number of 100 individuals, and there are only four such populations in whole Europe. Additionally, total number of wild individuals is still relatively low, and with fragmented habitat and isolation of different populations, genetic variation is constantly decreasing.
          </p>
          <p>
            Small number of funders means that genetic variation is extremely low, and it is suggested to be reason for i.e. pathology of reproductive system of males, which can threaten whole population.
          </p>
        </div>
      </article>
    </section>
    <section class="exbison">
      <article class="wrapper mid">
        <div class="text">
          <p>
            Mortality from virus and parasitic infections is also very high among European bison, which at least partly is attributed to the low genetic variation. The mortality increases together with size of population since habitat size is limited, and population becomes denser, which leads to easier spread of pathogens. Wild population need to be constantly supported and are fed in the winter, because they associated human with the food, and when it is scarce, they do not hesitate to look for it in fields and closer to human settlements, causing damage and loss of money.
          </p>
        </div>
        <div class="photo">
          <figure>
            <img src="images/bison_area.png" alt="Historical and current range of European bison">
            <figcaption>Historical and current range of European bison</figcaption>
            <figcaption>(Wikimedia Commons)</figcaption>
          </figure>
        </div>
      </article>
      <article class="wrapper">
        <div class="text">
          <p>
            Another reason is lack of proper environment since bison usually feed on grasses herbs and low growing trees, such features are common for deciduous forest which together with more open spaces like grasslands and meadows, used to be its natural habitat.
          </p>
          <p>
            Over the years natural deciduous forest in parts of central Europe was replaced with more economically beneficial conifer forest. In this new habitat it is much harder to find enough food for them - adult individual is able to consume even more than 50kg of plants.
          </p>
        </div>
        <div class="text">
          <p>
            Since bison is consuming so much, if its population is getting too big on limited area, they are overgrazing causing damage to the forest and resulting in losses for forest management. General public opinion is positive and support conservation of bison in Europe. But where population grows and it starts generating losses in forest and farming, public supports drops drastically, since bison is very heavy animal, even walking through the field generates big damage.
          </p>
        </div>
      </article>
    </section>
    <section class="exbison">
      <article class="wrapper">
        <div class="text">
          <p>
            Even though breeding and reintroduction of European bison was success, this animal still need more available natural area and fragmented habitat should be connected in order to let individuals move freely and have more possibility in mating. The reintroduction of individuals slowed downed in recent years because there is simply not enough space for more animals. Optimally restoration of more natural forest with more deciduous trees would certainly be very helpful in this goal, but such actions will take years to complete.
          </p>
          <p>
            Learn more about conservation of European bison <a target="_blank" href="http://www.bison-ebcc.eu/european-bison/">here</a>
          </p>
          <figure>
            <img src="images/bison_in_snow.jpg" alt="European bison during winter">
            <figcaption>European bison during winter</figcaption>
            <figcaption>(Wikimedia Commons)</figcaption>
          </figure>
        </div>
      </article>
    </section>
  </div><!--end-of-ex-->

  <div class="ex">
    <section class="excondor">
      <h2>California Condor</h2>
      <article class="wrapper">
        <div class="text">
          <p>
            California condor largest flying bird of North America was on a brink of extinction. The biggest threat to these birds comes from the lead in the environment. Lead is left in the bodies of various birds after sport hunting. Since condor is vulture and scavenger, it consumes carcasses containing lead and intoxicating itself. In 1981 there was only 22 individuals left in the world. Decision was made to capture all wild California condors and place them in captive breeding center. In the wild condor just lie one egg and incubates it. If the egg is lost before hatching for any reason condor will lie another egg. This knowledge was used and when one egg was produced it was taken away and hatched in incubator.
          </p>
        </div>
        <div class="text">
          <p>
            This technique resulted in hatching many more eggs than it is possible in natural conditions.  Because the genetic diversity was very low (total of 22 individuals) all individuals had checked DNA and were paired in order to have as diverse genetic pool as possible. Luckily this species was easy to breed and most of pairing are successful and ended up in female lying the egg.
          </p>
          <p>
            Many approaches to successful breeding of California condor were result of learning and improving during the process. But, additionally, a lot knowledge and skills were adopted, because people were breeding Andean condor before and they share a lot of similarities.
          </p>
        </div>
      </article>
    </section>
    <section class="excondor">
      <article class="wrapper mid">
        <div class="text">
          <p>
            Numerous very useful ways of enrichment were used that lead to success of introduction. The chicks which were raised by the keepers, were fed and interacted by puppet looking like adult condor. This way did not start associating human with food and learned natural behaviors.
          </p>
          <p>
             After reaching certain age chicks are joining adult condors to adopt as much natural behaviors as possible and learn to interact with other individuals of its species. The difference between juvenile raised by parent versus raised by puppet were measurable, although were not significant. Additionally, chicks raised by puppet, after reaching certain age, were joining adult birds in order to learn important behaviors before being released.
          </p>
        </div>
        <div class="photo">
          <figure>
            <img src="images/puppet.jpg" alt="California condor chick interacting with a puppet">
            <figcaption>California condor chick interacting with a puppet</figcaption>
            <figcaption>(Wikimedia Commons)</figcaption>
          </figure>
        </div>
      </article>
    </section>
    <section class="excondor">
      <article class="wrapper">
        <div class="text">
          <p>
            One of the reasons of population decline was getting electrocuted by power lines. Condors were resting on power structures and since their wings length is massive, they were able to touch two power lines at the same time, resulting in electric current running through their bodies and killing them. To cope with this electric structure with electric wires was set in the enclosure of breeding center.
          </p>
        </div>
        <div class="text">
          <p>
            But with only minor electric current running. Birds would rest as usually and when touching the lines, they would receive minor electric shot.
          </p>
          <p>
            After few attempts, they will learn cause and effect correlation and avoid touching power wires with their wings. This resulted in drastic drop in deaths caused by power structures in the field.
          </p>
        </div>
      </article>
      <article class="wrapper mid">
        <div class="full">
          <figure>
            <img src="images/corpse.jpg" alt="Dead California condor that ran into electric lines">
            <figcaption>Dead California condor that ran into electric lines</figcaption>
            <figcaption>(Wikimedia Commons)</figcaption>
          </figure>
        </div>
      </article>
    </section>
    <section class="excondor">
      <article class="wrapper">
        <div class="text">
          <p>
            Although there live more than 400 individuals (only 44 mature individuals in the wild), wild population is still not self-sustaining and according to IUCN California condor is still critically endangered. The problem of lead from bullets in carcasses of birds is not solved, and reintroduced birds still get intoxicated by it and need human help.
          </p>
        </div>
      </article>
    </section>
    <section class="excondor">
      <article class="wrapper mid">
        <div class="photo">
          <figure>
            <img src="images/tagged_condor.jpg" alt="Reintroduced Condor with a number tag">
            <figcaption>Reintroduced Condor with a number tag</figcaption>
            <figcaption>(Wikimedia Commons)</figcaption>
          </figure>
        </div>
        <div class="text">
          <p>
            Another problem is micro trash, condors find small pieces of trash like plastic bottle caps etc. and mistaken them for small bones, which they use a source of calcium, especially females which are going to lie the egg. In many cases they cannot egest the trash and need human assistance and surgery to survive.
          </p>
          <p>
            Even though breeding and reintroduction of California condor can be considered great success, wild population is still dependent on humans because causes which led to decline of its population in the first place were not resolved.
          </p>
          <p>
            More actions in the field are necessary of California condor to thrive and have self-sustaining population in the wild, because If all the funds, conservation efforts and support of people were to cease now California condor would most likely go extinct again.
          </p>
          <p>
            Learn more about California condor recovery program <a target="_blank" href="https://www.fws.gov/cno/es/CalCondor/Condor.cfm">here</a>
          </p>
        </div>
      </article>
    </section>
  </div><!--end-of-ex-->

</main>

<% include ./partials/footer %>
