<% include ./partials/header %>

<main id="examples">
  <div class="wrapper">
    <h1>This is a WIP page!</h1>
    <h2>Created for Michał Topczewski</h2>
  </div>
</main>

<% include ./partials/footer %>
