<% include ./partials/header %>

<main id="frontpage">
  <h1>Ex-situ Conservation</h1>
  <div class="image banner">
    <img src="/images/banner.jpg" alt="frontpage">
  </div>
  <section class="opening">
    <p>
      Term ex-situ comes from Latin and can be directly translated to of-site. Ex-situ conservation means that
      that individuals of animals are taken into captivity with intend of reintroduction back into natural
      habitat in the future.
    </p>
    <p>
      Recently ex-situ approach gained popularity as some breeding programs successfully reintroduced
      species into the wild, and more breeding and reintroduction programs are being initiated as a tool of
      saving endangered species and stopping loss of biodiversity. Good examples of successful ex-situ
      conservation projects involved species such as Giant panda, California condor, European Bison.
    </p>
  </section>
</main>

<% include ./partials/footer %>
