<% include ./partials/header %>

<main id="frontpage">
  <div class="wrapper">
    <h1>Ex-situ Conservation</h1>
  </div>
  <section>
    <div class="image banner">
      <img src="/images/banner.jpg" alt="Frontpage banner, very nice panda">
    </div>
  </section>
  <section>
    <h2>About</h2>
    <article class="wrapper">
      <div class="text">
        <!--This site was created by a supporter of the Ex-situ approach to the conservation of species. Our goal is to inform you, and provide a new perspective on the topic of biodiversity.-->
        <!--Ex-situ translates to off-site, and means to keep individuals of certain species captive, with the intention to eventually release them into their natural habitat. Captivity greatly affects animals, so the way we take care of them must be cautious, to minimize negative effects.-->
        <p>
          The goal of this website is to inform you and provide a new perspective on the topic of biodiversity and conservation of wildlife.
        </p>
        <p>
          Word ex-situ comes from Latin and translates to off-site, and means that individuals of targeted endangered species are bred in captivity, with the intention of future reintroduction into their natural habitat. Captivity greatly affects animals, so the way we take care of them must be cautious, to minimize negative effects.
        </p>
      </div>
    </article>
  </section>
  <section>
    <h2>Percentage of species threatened with extinction</h2>
    <article class="wrapper graph">
      <div class="graph">
        <img src="/images/graphs/mammals.png" alt="25% of mammal species are endangered">
        <h3>of Mammal Species</h3>
      </div>
      <div class="graph">
        <img src="/images/graphs/birds.png" alt="25% of bird species are endangered">
        <h3>of Bird Species</h3>
      </div>
      <div class="graph">
        <img src="/images/graphs/amphibians.png" alt="25% of amphibian species are endangered">
        <h3>of Amphibian Species</h3>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          Currently the earth is undergoing extinction of species on vary big scale. It is natural process for certain amount of species to go extinct. However, in the history of the earth, some events occurred when rate of species going extinct was far greater than usually.
        </p>
        <p>
          We call those event mass extinctions. This term describes events when more than 75% of species disappear from the earth in relatively short time. Many studies lead to believe that earth is undergoing next mass extinction now. As opposed to previous extinction events which were caused by natural factors like eruption of super volcano current situation is caused by humans, and therefore we have obligation to solve this problem. Disappearance of species results in loss of biodiversity.
        </p>
      </div>
      <div class="text">
        <p>
          Biodiversity (biological diversity) describes richness of life forms. Extinction of species will not only do harm to them, loss of biodiversity will impact human as well. Well-functioning ecosystem provides us with ecosystem services, for example ocean abundant in many species of fish and other life forms provides us with food. Bees and other insects pollinate our crops. Trees store carbon, reducing CO2 in the atmosphere.
        </p>
        <p>
          We simply can’t survive without nature, therefore we need to stop currently ongoing extinction trend, and ex-situ approach is one of the method used for this reason. It is especially important when population of species is rapidly declining, and action of the field would not be sufficient to save it.
        </p>
      </div>
    </article>
  </section>
  <section>
    <h2>Extinction rate of all known vertebrate species</h2>
    <article class="wrapper">
      <div class="full">
        <img src="images/graphs/extinction_rate.png" alt="Graph detailing rise in the extinction rate of species">
        <p>Learn more at: <a target="blank "href="https://www.iucn.org/resources/conservation-tools/iucn-red-list-threatened-species">www.iucn.org</a></p>
      </div>
    </article>
  </section>
</main>

<% include ./partials/footer %>
