<% include ./partials/header %>

<main id="frontpage">
  <div class="wrapper">
    <h1>Ex-situ Conservation</h1>
  </div>
  <section>
    <div class="image banner">
      <img src="/images/banner.jpg" alt="frontpage">
    </div>
  </section>
  <section>
    <h2>The ex-situ method</h2>
    <article class="wrapper">
      <div class="text">
        <p>
          The term ex-situ comes from Latin and can be directly translated to <span class="bold">off-site</span>. Ex-situ conservation means that
          that individuals of animals are taken into captivity with intent of reintroduction back into natural
          habitat in the future.
        </p>
      </div>
      <div class="text">
        <p>
          Recently, the ex-situ approach gained popularity as some breeding programs successfully reintroduced
          species into the wild, and more breeding and reintroduction programs are being initiated as a tool of
          saving endangered species and stopping loss of biodiversity. Good examples of successful ex-situ
          conservation projects involved species such as <span class="italic">Giant panda, California condor, European Bison</span>.
        </p>
      </div>
    </article><!--end-of-wrapper-->
  </section>
  <section>
    <h2>Percentage of species threatened with extinction</h2>
    <article class="wrapper graph">
      <div class="graph">
        <img src="/images/graphs/mammals.png" alt="graph">
        <h3>All Mammal Species</h3>
      </div>
      <div class="graph">
        <img src="/images/graphs/amphibians.png" alt="graph">
        <h3>All Amphibian Species</h3>
      </div>
      <div class="graph">
        <img src="/images/graphs/birds.png" alt="graph">
        <h3>All Bird Species</h3>
      </div>
    </article>
    <article class="wrapper">
      <div class="text">
        <p>
          As opposed to previous extinction events which were caused by natural factors like eruption of super
          volcano current situation is caused by humans, and therefore we have obligation to solve this problem.
          Disappearance of species results in loss of biodiversity. Biodiversity (biological diversity) is definition of
          variety of life forms.
        </p>
      </div>
      <div class="text">
        <p>
          Currently the earth is undergoing extinction of species on vary big scale. It is natural process for certain
          amount of species to go extinct. However, in the history of the earth, some events occurred when rate
          of species going extinct was far greater than usually. We call those event mass extinctions. This term
          describes events when more than 75% of species disappear from the earth in relatively short time. Many
          studies lead to believe that earth is undergoing next mass extinction now.
        </p>
      </div>
    </article>
  </section>
</main>

<% include ./partials/footer %>
