<% include ./partials/header %>

<main id="method">
  <section>
    <h2>The definition of Ex-situ</h2>
    <article class="wrapper">
      <div class="text">
        <p>
          In this method of conservation, targeted species is bred in captivity with intend of reintroduction back into natural habitat. In order to initiate breeding programs, sufficient number of founders from the species must be collected. Founders are individuals which give beginning to whole captive population.
        </p>
      </div>
      <div class="text">
        <p>
          Their number is dependent on rate of reproduction and duration length per generation, because genetic variation is lost each time individuals of closed population reproduce. But as a rule of thumb we can assume that around 25 of individuals is enough to establish stable captive population.
        </p>
      </div>
    </article>
  </section>
  <section>
    <article class="wrapper mid">
    <div class="photo">
      <figure>
        <img src="images/ferret.jpg" alt="Black footed ferret, a species saved by Ex-situ">
        <figcaption>Black footed ferret, a species saved by Ex-situ</figcaption>
        <figcaption>(Wikimedia Commons)</figcaption>
      </figure>
    </div>
      <div class="text">
        <p>
          The usual approach when ex-situ project is being initiated is to collect the founding individuals, either from the wild or if any individuals are present in captive places like zoos, rescue centers etc. they can be taken from there.
        </p>
        <p>
           When the initial founding population is collected, the breeding phase begins.
        </p>
      </div>
    </article>
  </section>
  <section>
  <article class="wrapper mid">
    <div class="text">
      <p>
        During that phase, population is growing until it reaches the targeted size. When captive population reaches its targeted size, the reintroduction can be initiated. Taking exceeding number of individuals provide constant input to the wild population and keep captive population at same size.
      </p>
    </div>
    <div class="photo">
      <figure>
        <img src="images/horse.jpg" alt="Przewalski's horse survived decades in captivity before reintroduction">
        <figcaption>Przewalski's horse survived decades in captivity before reintroduction</figcaption>
        <figcaption>(Wikimedia Commons)</figcaption>
      </figure>
    </div>
  </article>
</section>
<section>
  <article class="wrapper">
    <div class="text">
      <p>
        Although less frequent this method might have higher success for reintroduction in a long run. Ex-situ conservation has been constantly improving and was especially helpful for saving certain species. Some species would already be extinct if the breeding program and reintroduction would not be initiated.
      </p>
    </div>
    <div class="text">
      <p>
        The method can change according to situation, and sometimes species are bred for many years before reintroduction. Also, sometimes it might be more efficient to collect more individuals before releasing them as a bigger population or as bigger input to the wild population.
      </p>
    </div>
  </article>
</section>
</main>

<% include ./partials/footer %>
