<% include ./partials/frontform_head %>
<div class="card form-signin" style="width: 18rem;">
	<div class="card-img-top">
		<span data-feather="check" class="big-icon" style="color: green;"></span>
	</div>
	<div class="card-body">
		<p>Din konto er nu aktiveret. Velkommen.</p>
		<a href="/" class="btn btn-primary">Gå til admin-panelet</a>
	</div>
</div>
<% include ./partials/frontform_footer %>