<% include ./partials/frontform_head %>
<div class="card form-signin" style="width: 18rem;">
	<div class="card-img-top">
		<span data-feather="x" class="big-icon" style="color: red;"></span>
	</div>
	<div class="card-body">
		<p>Du har prøvet at aktivere en konto der ikke eksisterer eller du har brugt et link som er udløbet.</p>
		<a href="/signin" class="btn btn-primary">Gå til log ind</a>
	</div>
</div>
<% include ./partials/frontform_footer %>