*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: 'Crete Round', serif;
  color:#42280B;
  background: radial-gradient(#fff, #fafffa);
}
img{
  width:100%;
  height:auto;
  vertical-align:bottom;
}
.wrapper{
  max-width:1280px;
  margin:0 auto;
}
section{
  min-height:350px;
}
#frontpage section:first-of-type{
  min-height:0;
}
article{
  padding:2%;
  display:flex;
  align-items:center;
  justify-content:space-around;
}

/*--------------------------------------*/
main{
  min-height:600px;
  margin-bottom:5%;
}

main#frontpage{color:#000}
main#approach{color:#faf;}
main#examples{color:#aff;}
main#challenges{color:#aa0;}

section:nth-child(odd){
  /*background-color:#fff;*/
}
section:nth-child(even){
  background-color:#D8C6B3;
}
footer{
  /*background-image: linear-gradient(#fff, #42280B);*/
  /*background-color:#A1E8AF;*/
  border:1px solid #A1E8AF;
  color:#A1E8AF;
  min-height:50px;
  text-align:right;
  padding:20px;
}

/*--------------------------------------*/

nav.top{
  padding:10px 0;
}
nav.top ul{
  border:solid 1px #A1E8AF;
  list-style:none;
  display:flex;
  flex-direction:row;
  padding:10px 0;
}
nav.top ul li{
  margin:0 15px;
}
a{
  text-decoration:none;
  color:#555;
  font-size:1.2em;;
  font-family:sans-serif;
}
a:hover{
  color:#A1E8AF;
}
h1{
  margin-top:1em;;
  margin-left:0.5%;
  font-size:3em;
  /*position:absolute;
  color:#fff;*/
}
h2{
  font-size:2em;
  margin-left:0.5%;
  margin-top:1em;
}
p{
  font-size:1.2em;
  margin:1%;
}
.current{
  color:#aaa;
}

/*--------------------------------------*/

div.image{
  text-align:center;
  /*position:relative;*/
}
.opening{
  column-count:2;
}
.opening p{
  padding:2.5%;
}
div.graph{
  width:35%;
}
div.text{
  width:45%;
}

/*--------------------------------------*/

@media only screen and (max-width: 500px) {
  nav ul{
    flex-direction:column;
    /*align-items:center;*/
  }
}
