html {
  overflow-y: scroll;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: 'Crete Round', serif;
  color:#42280B;
  background: radial-gradient(#fff, #fafffa);
}
h1, h2, h3{
  font-family: 'Roboto Slab', serif;
}
img{
  width:100%;
  height:auto;
  vertical-align:bottom;
}
.wrapper{
  max-width:1280px;
  margin:0 auto;
}
section{
  /*min-height:350px;*/
}
article{
  padding:2%;
  display:flex;
  align-items:top;
  justify-content:space-around;
}
.hide{
  display:none;
}
span.bold{
  font-weight: bold;
}
span.italic{
  font-style: italic;
}

/*--------------------------------------*/
main{
  min-height:300px;
  margin-bottom:5%;
}

section:nth-child(odd){
  /*background-color:#fff;*/
}
section:nth-child(even){
  background-color:#D8C6B3;
}
div.ex{
  display:none;
}
div.ex.show{
  display:block;
}
div.ex section:nth-child(odd).expanda{
  background-color:#73b387;
  color:#fff;
}
div.ex section:nth-child(odd).exbison{
  background-color:#8a7271;
  color:#fff;
}
div.ex section:nth-child(odd).excondor{
  background-color:#fff8dc;
}
footer{
  /*background-image: linear-gradient(#fff, #42280B);*/
  /*background-color:#A1E8AF;*/
  border:1px solid #A1E8AF;
  color:#A1E8AF;
  min-height:50px;
  text-align:right;
  padding:0 20px;
}

/*--------------------------------------*/

nav.top{
  padding:10px 0;
}
nav.top ul{
  border:solid 1px #A1E8AF;
  list-style:none;
  display:flex;
  flex-direction:row;
  padding:10px 0;
}
nav.top ul li{
  margin:0 15px;
}
a{
  text-decoration:none;
  color:#555;
  font-size:1.2em;;
  font-family:sans-serif;
}
a:hover{
  color:#A1E8AF;
}
h1{
  padding-top:1em;
  padding-left:0.5%;
  font-size:3em;
  /*position:absolute;
  color:#fff;*/
}
h2{
  font-size:2em;
  text-align:center;
  padding-top:1em;
}
h3{
  text-align:center;
  font-size:1.5em;
}
p{
  font-size:1.2em;
  margin:3%;
}
.current{
  color:#aaa;
}

/*--------------------------------------*/

div.image{
  text-align:center;
  /*position:relative;*/
}
.opening{
  column-count:2;
}
.opening p{
  padding:2.5%;
}
div.graph{
  width:35%;
}
div.text{
  width:45%;
}
div.photo{
  width:45%;
}
article.graph{
  border-bottom:5px #A1E8AF dotted;
}
button{
  width:30%;
  padding:5% 0;
  background-size: cover;
  font-size:2em;
  color:#fff;
  opacity:0.5;
  cursor:pointer;
  font-family: 'Fugaz One', cursive;
  text-shadow: 2px 2px #000;
  /*white-space:nowrap;*/
}
button:nth-of-type(1){
  background-image:url('../images/buttons/panda.jpg');
  padding:5% 4.63%;
}
button:nth-of-type(2){
  background-image:url('../images/buttons/bison.jpg');
  padding:5% 2%;
}
button:nth-of-type(3){
  background-image:url('../images/buttons/condor.jpg');
}
button.show{
  opacity:1;
}
button:hover{
  opacity:0.9;
}
nav.tri{
  display:flex;
  justify-content:center;
}
section.tri{
  padding:3% 0;
}

/*--------------------------------------*/

@media only screen and (max-width: 500px) {
  nav.top ul, article{
    flex-direction:column;
    align-items:center;
  }
  div.text, div.graph{
    width:90%;
    justify-content:center;
  }
  h1{
    font-size:1.5em;
  }
  h2{
    font-size:1.2em;
  }
  p, button{
    font-size:1em;
  }
  #examples button{
    padding:5% 0;
  }
}
